header {
    margin: 50px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

main {
    display: flex;
    margin: 0 100px;
}
.img-pieces{
    width: 760px;
}